// .sidebar {
//     width: 250px;
//   }
  
//   .sidebar-header {
//     font-size: 18px;
//     font-weight: bold;
//     padding: 16px;
//   }
  


  // .sidebar {
  //   width: 250px;
  //   height: 100vh;
  //   background: #333;
  //   color: white;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   transition: transform 0.3s ease-in-out;
  // }
  
  // .hidden {
  //   transform: translateX(-100%);
  // }
  



  .sidebar {
    width: 250px;
    height: 100vh;
    // background-color: #2c3e50;
    color: #fff;
  
    // .sidebar-header {
    //   background-color: #34495e;
    //   color: #fff;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   height: 64px;
    // }
  
    // .submenu-panel {
    //   background-color: transparent;
    //   box-shadow: none;
    //   color: #fff;
  
    //   .mat-expansion-panel-header {
    //     padding: 0 16px;
    //     color: #fff;
    //   }
  
    //   .mat-expansion-panel-body {
    //     padding: 0;
    //   }
  
    //   .mat-nav-list {
    //     padding-top: 0;
    //   }
  
    //   .mat-list-item {
    //     color: #fff;
    //     padding-left: 32px; // Indent submenu items
    //   }
    // }
  
    // .mat-list-item {
    //   color: #fff;
    //   transition: background-color 0.3s ease;
  
    //   &:hover {
    //     background-color: #34495e;
    //   }
    // }
  }