.layout-container {
    height: 100vh;
    // display: flex;
    // width: 100%;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .main-content {
    flex: 1;
    padding: 16px;
    overflow: auto;
  }


  /* Sidebar collapses smoothly */
.sidebar {
  width: 250px;
  transition: width 0.3s ease-in-out;
}

/* Responsive: Sidebar becomes overlay on smaller screens */
@media (max-width: 768px) {
  .content {
    margin-left: 0; /* No extra space when sidebar is hidden */
  }

  .sidebar {
    width: 200px;
  }
}
  